FruityMod.iml
target/**
dependency-reduced-pom.xml

# Local dependency overrides
dependency_overrides.properties

# Downloaded dependencies
ModTheSpire.jar
desktop-1.0.jar
mods/

# Files generated when playing the game
info.displayconfig
preferences/
runs/
saves/
sendToDevs/
twitchconfig.txt

# Ignore editor files
*.swp
.idea/*
src/main/main.iml

